// TABS
$unselected-tab-border-bottom: #acacac;
$tab-padding-bottom: 6px;
$unselected-tab-border-width: 2px;
$active-tab-border-width: 3px;
$tab-margin: $active-tab-border-width - $unselected-tab-border-width;

ul.product-tabs {
  display: block;
  margin: 0 0 20px;
  padding: 0;
}

ul.product-tabs li {
  display: block;
  float: left;
  height: 30px;
  margin-top: 10px;
  padding: 0;
  width: auto;
}

ul.product-tabs li a {
  display: block;
  font-size: 15px;
  padding: 0 15px;
  padding-bottom: $tab-padding-bottom + $tab-margin;
  text-decoration: none;
  width: auto;
  color: black;
  border-bottom: $unselected-tab-border-width solid $unselected-tab-border-bottom;
}

ul.product-tabs li a.active {
  color: #686868;
  border-bottom: $active-tab-border-width solid black;
  position: relative;
  padding-bottom: $tab-padding-bottom;
}

ul.product-tabs li:first-child a {
  padding-left: 0;
}

ul.product-tabs:before,
ul.product-tabs:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
ul.product-tabs:after {
  clear: both;
}

// Login customization

.customer-form-container {
  margin: 0 auto;
}

.links-under-submit-button {
  margin-top: 45px;
}

#register-newsletter-container {
  margin-bottom: 30px;
}

.label-checkbox {
  display: inline;
}

#register-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.log-in-icon {
  margin-right: 3px
}

.grid-link__image img {
  height: 100%;
  object-fit: cover;
}

// Tooltip

.tippy-tooltip.default-theme {
  background-color: white;
  color: black;
}

// Product Images Slider

.product-image-link {
  padding: 10px;
  &:focus {
    outline: none
  }
}

.slick-slider {
  width: 90%;
  margin: auto;
}

.slick-prev:before, .slick-next:before {
  color:black !important;
}

.display-mobile {
  @media (min-width: 768px) {
    display: none
  }
}

.display-comp {
  @media (max-width: 768px) {
    display: none
  }
}

span.grid-link__image.grid-link__image--collection {
    height: auto !important;
}