
<!--smk-page-resources-top-section-start-->{%- if page.handle == 'resources' -%}{%- section 'smk_blocks_top_resources' -%}{%- endif -%}<!--smk-page-resources-top-section-end--><div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

    {% section 'custom-blocks' %}
    
  </div>

</div>

<!--smk-page-resources-bottom-section-start-->{%- if page.handle == 'resources' -%}{%- section 'smk_blocks_bottom_resources' -%}{%- endif -%}<!--smk-page-resources-bottom-section-end-->