{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'smk_product_blocks' %}<div class='smk-sections-above-content'></div>{% section 'product-template' %}<div class='smk-sections-below-content'></div>
{% section 'product-recommendations' %}{% section 'smk_product_blocks_footer' %}<div class='smk-sections-above-footer'></div>